@import "src/globalStyles";

.List {
  .ListHeader {
    display: flex;
    align-items: center;
    margin: 25px 15px;

    .ListIcon {
      height: 10px;
      width: 10px;
      padding: 4px;
      background: $gray;
      border-radius: 50%;
      color: $purple;
      margin-right: 5px;
      cursor: pointer;
    }

    .Open {
      transform: rotate(90deg);
    }

    h3 {
      margin: 0;
      color: $dark-text;
      font-weight: 800;
    }
  }
}
