@import "src/globalStyles";

.SearchBar {
  margin: 40px 20px 55px 20px;
  height: 40px;
  background: #fff;
  box-shadow: $box-shadow;
  position: relative;
  form {
    display: flex;
    height: 100%;
    .SearchIcon {
      padding: 0 15px;
      height: 20px;
      margin: auto;
      color: $dark-text;
    }
    .TextInput {
      flex: 1;
      border: none;
    }
    .SearchButton {
      width: 140px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $purple;
      color: #FFF;
    }
    .CheckBox {
      width: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $dark-text;
    }
    .Divider {
      background: $gray;
      height: calc(100% - 15px);
      width: 2px;
      margin: auto;
    }
  }
  .ResetButton {
    display: flex;
    justify-content: end;
    margin-top: 7px;
    color: $purple;
    cursor: pointer;
  }
}
