@import "src/globalStyles";

.Table {
  margin: 0 20px;
  box-shadow: $box-shadow;
  background: #FFF;
  max-width: 1200px;
  padding-bottom: 20px;
  .Header {
    display: flex;
    align-items: center;
    color: $pink;
    height: 35px;
    border-bottom: 1px solid $gray;
    h3 {
      margin: 0;
      text-align: left;
      font-size: 14px;
    }
    .Name {
      width: 290px;
      padding-left: 50px;
    }
    .Button {
      width: 70px;
    }
    .Type {
      width: 160px;
      padding-left: 20px;
      margin-left: auto;
    }
  }

}
